#connexion
{
	background-color: #71a6fc;
	color: white;
	border-radius:5px/2px;
	margin-top: auto;
	margin-bottom: auto;
	padding: 10px;
}
body
{
   display: flex;
  font-family: 'Arial';
  flex-direction: column;
  width= 100%;
  height= 100%;
}


header
{
	display: flex;
	justify-content: flex-end;
}

footer
{
	background-color: #f2f2f2;
}
button
{
	border: 0;
	padding: 10px;
}

button:hover
{
	border: 1px solid #f3f3f3
}
.france
{
	margin-bottom: 30px;
	margin-top: -30px:
}
.headerbutt
{
	margin: 0 7px
}

header, img
{
	margin-top: -8px;
}
header, #connexion
{
	margin-top: -8px;
}

header
{
	margin-top: 15px;
	margin-right: 15px;
}
.logo
{
	display: block;
	margin-top: 125px;
	margin-right: auto;
	margin-left: auto;
	width: 19em;
}

#centerpart
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.barrederecherche, .middlebuttons, .langue
{
	display: flex;
	justify-content: center;
}

.barrederecherche
{
	width: 50em;
	height: 4em;
	border: 1px solid #f3f3f3;
	box-shadow: 1px 1px 1px grey;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

.middlebuttons
{
	margin-left:auto;
	margin-right: auto;
}

#afficherbutton
{
	margin-right: 400px;
	font-family: 'Courier';
	display: flex;
	justify-content: center;
	margin-left: 32%;
	font-size: 3em;
	width: auto;
	height: auto;
	margin-top: 190px;
}

.rightbott
{
  color:grey;
  position: absolute;
  right: 35px
}

footer
{
  display: flex;
  align-items: flex-end;
  bottom: 1px;
  position: absolute;
  width: 100%;
  color: grey;
}
a
{
	text-decoration: none;
	color: black;
}
a, footer
{
	color:grey;
}
